{% extends "pohja.html" %}

{% block body %}


<div id="sarjakuva" class="left">
	<h3> {{ comic.nimi }} #{{ strip.order }} <span> {{ strip.filename }}</span></h3>

	<div id="navi">
	{% set prev = strip.id-1 %}
	{% set next = strip.id+1 %}
	{% set max = comic.Max() %}
	{% if prev > 0 %}
	<a href="/{{ comic.nimi }}/1/">
		<span class="glyphicons x2 left glyphicons-step-backward"></span>
	</a>
	<a href="/{{ comic.nimi }}/{{ prev }}/">
		<span class="glyphicons x2  left glyphicons-rewind"></span>
	</a>
	{% endif %}
	{% if next <= max %}
	<a href="/{{ comic.nimi }}/{{ max }}/">
		<span class="glyphicons x2 right glyphicons-step-forward"></span>
	</a>
	<a href="/{{ comic.nimi }}/{{ next }}/">
		<span class="glyphicons x2 right glyphicons-forward"></span>
	</a>

	{% endif %}

	</div>
	<a href="{{ strip.url }}">
	<img src="{{ url_for('static', 
			filename='sarjakuvat/'+comic.nimi+'/'+strip.filename )}}" />
	</a>
</div>

<script>
	document.title="{{ comic.nimi }} #{{strip.order}}"

	$(document).keydown(function(e) {
    switch(e.which) {
    	{% if prev > 0 %}
        case 37: // left
        e.preventDefault(); // prevent the default action (scroll / move caret)
        window.open("/{{ comic.nimi }}/{{ prev }}/", "_self")
        break;
        {% endif %}

        {% if next <= max %}
        case 39: // right
        e.preventDefault(); // prevent the default action (scroll / move caret)
 		window.open("/{{ comic.nimi }}/{{ next }}/", "_self")
        break;
        {% endif %}
        default: return; // exit this handler for other keys
    }
    
});
</script>
{% endblock %}