style.css

#navi > .glyphicons
{
	margin-right:20px;
}

.glyphicons
{
	font-size:24px;
}

.navbar-header
{
	font-size:24px;
	width:100%;
}

.navbar-header .glyphicons
{
	top:-2px;
	margin-right:5px;
}
.navbar-header li
{
	margin-right:15px;
}

.left
{
	float:left;
}

#login
{
	min-height:400px;
	max-width:500px;
	margin:10px auto;
}

#login input
{
	max-width:90%;
}

input[type=text], input[type=email], input[type=password], input[type=number]
{
	padding-left:10px;
}

.right
{
	float:right;
}

.sarjakuva
{
	clear:both;
	margin:20px 50px 80px 50px;
}

.sarjakuva > .navi
{
	clear:both;
}

.sarjakuva h3
{
	max-width:90%;
	overflow-x:hidden;
}

.sarjakuva img
{
	clear:both;
	max-width:100%;
}




#footer
{
	height:100px;
	background-color:#f8f8f8;
	border-radius:4px;
	border:1px solid #e7e7e7;
	width:100%;
}

#runko
{
	clear:both;
	padding:10px 1px;
	max-width:1100px;
	margin:0px auto;
}

.twopx
{
	position:relative;
	top:2px;
}

.ntwopx
{
	position:relative;
	top:-2px;
}

.nfivepx
{
	position:relative;
	top:-5px;
}

.fivepx
{
	position:relative;
	top:5px;
}